<router-outlet></router-outlet>

<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/game">Game</a>
  <a routerLink="/score">Scoreboard</a>
</nav>

<button (click) = "router2Url('login')">Login</button>
<button (click) = "router2Url('game')">Game</button>
<button (click) = "router2Url('score')">Scoreboard</button>

<!-- <app-answer-button [answer]="answer" (buttonSelected)="answerElected($event)"></app-answer-button>

<div class="myClass">
  <input type="text" [(ngModel)]="myVariable">
</div>

<div *ngIf="myVariable=='hello'">
  {{myVariable}}
</div>

<button (click)="addName()">Add</button>

<ul>
  <li *ngFor="let name of names; index as i">
    {{name}} {{i}}
    <button (click)="removeName(i)">Remove</button>
  </li>
</ul>

<div>
  <div *ngFor="let letter of letters">
    <p *ngIf="letter=='a' || letter=='e' || letter=='i' || letter=='o' || letter=='u'">
      the letter {{letter}} is vowel</p>
    <p *ngIf="letter!='a' && letter!='e' && letter!='i' && letter!='o' && letter!='u'">
      the letter {{letter}} is not vowel
    </p>
  </div>
</div> -->
